/* orders.css */
main {
    height: 100vh;
    color: aliceblue;
}

.container {
    text-align: center;
}

.cart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#total-price {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(120deg, #c83852, #b44092 50%, #6a5fc1);
    font-weight: bold;
}